/* Google font start */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Abril+Fatface&family=Anton&family=Josefin+Sans&family=Lexend+Deca:wght@100;200;300&family=Livvic:wght@100&family=Montserrat:wght@300&family=Orelega+One&family=Poppins:wght@600&family=Ubuntu:ital,wght@0,400;1,300&display=swap');

body{
    width: 100%;
    font-family: Poppins;
    background-color: #dfe6e9;
}

/* Common utilities */

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 200px;
}


/* Header */
.header-title{
    font-size: 24px;
    padding-left: 125px;
}

/* Influencer Journey */

.influencer-journey{
    display: flex;
    max-width: 100%;
    margin-left: 133px;
}
.influencer{
    padding-right: 144px;
    width: 582px;
}
.section-title{
    font-size: 52px;
    color: #636e72;
    transition: 1s  ease-in-out;
}
.section-title:hover{
    color: #2d3436;
}
.button{
    background-color: #636e72;
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 41px;
    padding: 0 8px;
}
.button:hover{
    padding: 5px 10px;
    transform: scale(5);
    transition: transform 0.5s  ease-in-out;
}
.camera img{
    max-width: 100%; 
    display: inline;
}
.camera img:hover{
    transform: scale(1.2);
    transition: transform 0.5s  ease-in-out;
}

/* Collections */

.collection-title{
    font-size: 28px;
    text-align: center;
    padding-bottom: 30px;
}

.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    
}
.collection{
    display: flex;
    flex-direction: column;
    background-color: #ffffff38;;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}
.collection img{
    border-radius: 5px;
}
.filled{
    color: #FB8200;;
}
.empty{
    color: #b2bec3;
}
#see-more{
    position: relative;
    float: right;
    color: #2d3436;
}

/* Mores */
.more-title{
    color: #636e72;
    font-size: 28px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}
.more-title:hover{
    color: #2d3436;
}
.mores{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    
}
.more{
    display: flex;
    flex-direction: column;
    background-color: #ffffff38;
}
.more img{
    width: 310px;
    height: 100%;
    border-radius: 5px;
}
.more img:hover{
    transform: scale(1.2);
    transition: transform 1s ease-in-out;
}
#see-more-id{
    position: relative;
    float: right;
    color: #2d3436;
    text-decoration: none;
    background-color: #FFFFFF;
    border-radius: 41px;
    margin-top: 15px;
    padding: 0 8px;
}


/* Follows */
.follow-title{
    color: #636e72;
    font-size: 28px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}
.follow-title:hover{
    color: #2d3436;
}
.follows{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    
}
.follow{
    display: flex;
    flex-direction: column;
}
.follow img{
    width: 340px;
    height: 310px;
}

#follow-more-id{
    position: relative;
    float: left;
    color: #2d3436;
    text-decoration: none;
    margin-top: 15px;
}


/* Footer */

.footer{
    border: 2px solid #2d3436;
    background-color: #2d3436;
    color: #FFFFFF;
    padding: 30px 0;
    text-align: center;
}

.influencer-product h4{
    font-size: 14px;
}
.fab{
    align-self: center;
    font-size: 20px;
    margin: 0px 16px;
    border-radius: 5px;
    color: #FFFFFF;
}


/* Media Query For responsive design*/

/* Phone devices  */
@media only screen and (max-width: 688px){
    body{
        max-width: 100%;
    }
    .header-title{
        font-size: 16px;
    }
    .collections, .mores, .follows{
        grid-template-columns: repeat(1,1fr);
    }
    .influencer-journey, .collection, .more, .follow{
        padding-left: 0;
        flex-direction: column;
        padding: 10px 10px;
    }
    .influencer, .header-title{
        max-width: fit-content;
        text-align: center;
        padding: 0;
        margin:0; 
    }
    .more-area{
        max-width: 320px;
    }
    .section-title{
        font-size: 28px;
    }
    .camera img{
        margin-top: 25px;
    }
    .button{
        padding: 0 15px;
    }
    
} 

/* Tablet and larger devices  */
@media only screen and (min-width: 682px) and (max-width:992px){
    body{
        max-width: 100%;
    } 
    .header-title{
        font-size: 16px;
    }
    .collections, .mores, .follows{
        grid-template-columns: repeat(2,1fr);
    }
    .influencer-journey, .collection, .more, .follow{
        flex-direction: column;
        padding: 0 10px;
    }
    .influencer, .header-title{
        max-width: fit-content;
        text-align: center;
        padding: 0;
        margin:0; 
    }
    .more-area{
        max-width: 320px;
    }
    .section-title{
        font-size: 28px;
    }
    .camera img{
        margin-top: 25px;
    }
    .button{
        padding: 0 15px;
    }
   
    
} 
